<ion-view view-title="Search">
  <ion-content class="has-header">
	<form ng-submit="doSearch()">
		<div class="search-bar bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search on Youtube	" ng-model="search.value" ng-enter="doSearch()"> 
        </label>
        <button type="button" class="button button-clear button-positive" ng-show="search.focus" ng-click="cancelSearch()">
          Cancel
        </button>
      </div>
    </form>
  	<ion-list>
	  <ion-item class="item-thumbnail-left" collection-repeat="item in result.items" href="#/tab/video/{{item.id.videoId}}">
	  	<img src="{{ item.snippet.thumbnails.default.url }}">
	    <h2> {{ item.snippet.title }}</h2>
	    <p>{{ item.snippet.channelTitle }}</p>
	  </ion-item>
	</ion-list> 
	<div ng-show="(!result.items.length>1)">No Result Found</div>
	<ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="searcMore()" distance="3%">
    </ion-infinite-scroll>	
  </ion-content>
</ion-view>


 