<ion-tabs class="tabs-background-light tabs-color-assertive tabs-icon-top">
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="/tab/search">
    <ion-nav-view name="tab-search">
    </ion-nav-view>
  </ion-tab>
  <ion-tab title="Favorites" icon-off="ion-android-favorite-outline" icon-on="ion-android-favorite" href="/tab/favorites">
    <ion-nav-view name="tab-favorites">
    </ion-nav-view>
  </ion-tab>
  <ion-tab title="Now Playing" icon-off="ion-ios-play-outline" icon-on="ion-ios-play" href="/tab/video/123">
    <ion-nav-view name="tab-video">
    </ion-nav-view>
  </ion-tab>
  <ion-tab title="Playlists" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="/tab/playlists">
    <ion-nav-view name="tab-playlists">
    </ion-nav-view>
  </ion-tab>
   <ion-tab title="History" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="/tab/history">
    <ion-nav-view name="tab-history">
    </ion-nav-view>
  </ion-tab>
</ion-tabs>
